<div class="d-flex justify-content-center align-items-center" style="min-height: 75%; min-height: 75vh;" th:fragment="content">
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
		<form>
		
		<h1 class="display-6">Asignacion Técnico</h1>
			

			<div>
				<button type="button" class="btn btn-primary btn-lg btn-block"
					onclick="enviaInfo();">Ingresar</button>
			</div>
		</form>
		
		<div class="col-12" style="display:none;"><span id="message" th:text="${error}"></span></div>

	</div>
</div>