<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Index</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<pre style="background-color:#646569">
    <left><img src="image1.jpg" alt="image" width="450px" height="110px">
        </left>
        
        </pre>

      <body>   
            
    <!--nav class="navbar navbar-default" >
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Tickets</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Index</a></li>
                <li><a href="#">Resguardantes</a></li>
                <li><a href="#">Notificaciones</a></li>
                <li><a href="#">Estadísticas</a></li>
                <br>
                 </ul>
              
            </div>
                                
          </nav-->
         
          <!--input type="text" id="searchterm" placeholder="Buscar" />
                        <button type="button" id="search">Buscar</button-->
        <fieldset>
          <div class="container text-center">
              <center><h1>"SISTEMA DE ADMINISTRACIÓN DE BIENES INFORMÁTICOS DEL SENADO 
                            DE LA REPÚBLICA"</h1></center>
              <form action="menu.html" method = "post">
        <h1>Ingresa al Sistema</h1>
        <input type="text" max-lenght= "20" placeholder= "Ingrese el nombre de usuario: " name = "user" autocomplete="off" required> 
        <input type="password" max-lenght= "20" placeholder= "Ingrese la contraseña: " name = "pw" autocomplete="off" required>
        <button type ="submit" max-lenght= "18" name="login" value="Entrar"> Acceder
        <button type="submit" max-lenght= "18"  name="Salir" value="Salir">  Salir
    </form>  
     
    </fieldset>   
               
</body>
<footer class="container-fluid text-center">
             
                    <b><p>Dirección de Soporte Técnico 
                    <br> 2018</p></b>
                  </footer>
</html>