body{
	background: url("/assets/img/fondo/wallpaper_3_LXIII.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
    min-height: 100%; 
    min-height: 100vh;


}

/*Menu*/
.bg-light{
	background-color: #646569 !important;
}

a.nav-link{
	color: #F7F6F2 !important;
}
/*Fin Menu*/

/*Inicio de Sesion*/
h5.lead{
	color: #F7F6F2 !important;
}

form {
	max-width: 100%;
	margin: 10px auto;
	padding: 10px 20px;
	background: #13131373;
	border-radius: 8px;
	
  }

  h3 {
	margin: 0 0 30px 0;
	text-align: left;
	
  }




/*Fin Inicio de Sesion*/