			<nav class="navbar ">
					<div class="container-fluid">
							<div class="navbar-header">
								<ul class="nav navbar-nav navbar-center">
                                    <li class="active"><a href="sabi.html">Consultar</a></li>
									<li class="active"><a href="editarsa.html">Editar</a></li>
									<li class="active"><a href="nuevosa.html">Nuevo</a></li>
									<li class="active"><a href="deshsa.html">Deshabilitar</a></li></ul>
								</ul>
					</div>
			</nav>
			<div class="container">

				<div class="signup-form-container">
						<div class="form-header">
								<center> <h1 class="form-title"><i class="fa fa-user"></i> ACTUALIZAR INFORMACIÓN</h1></center>
						</div>
					 <!-- form para ingresar el resguardo -->
					
						<form class="form-inline">
                            <div class = text-right>
							    <label for="iIDBienesInformaticos">Resguardo:</label>
								    <div class="input-group mb-2 mr-sm-2">
									<input type="text" class="form-control" id="iIDBienesInformaticos" placeholder="Resguardo">
							</div>
                                      <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                </div>
                <br> <br>
                <div class="form-row">
                        <div class="form-group col-md-5">
                                <label for="ctBienesInformáticos">Resguardante: </label>
                                <select id="cUsuario" class="form-control">
                                  <option selected>Ing. Dino Adán Venegas Zárate</option>
                                  <option>Alejandro Camargo Nava</option>
                                  <option>Josue Arrona Martínez</option>
                                </select>
                        </div>
                        <div class="form-group col-md-4">
                                <label for="ctBienesInformáticos">Edificio: </label>
                                <select id="cEdificio" class="form-control">
                                  <option selected>TCO</option>
                                  <option>TAZ</option>
                                  <option>HEM</option>
                                  <option>M68</option>
                                  <option>DCL</option>
                                </select>
                        </div>
                        <div class="form-group col-md-3">
                                <label for="ctBienesInformáticos">Piso: </label>
                                <select id="cPiso" class="form-control">
                                  <option selected>S1</option>
                                  <option>S2</option>
                                  <option>S3</option>
                                  <option>S4</option>
                                  <option>PB</option>
                                </select>
                        </div>
                </div>
                <br><br><br>
                <div class="form-row">
                        <div class="form-group col-md-5">
                                <label for="ctBienesInformáticos">Responsable: </label>
                                <select id="cUsuario" class="form-control">
                                  <option selected>Adolfo Pinto</option>
                                  <option>Ángel Garibay</option>
                                  </select>
                        </div>
                        <div class="form-group col-md-4">
                                <label for="ctBienesInformáticos">Adscripción: </label>
                                <select id="iIDAreas" class="form-control">
                                  <option selected>Dirección de Informática</option>
                                  <option>IBD</option>
                                  </select>
                        </div>
                    </div>
                    <br><br><br>
                    <center>
                        <label for="cObs">Observaciones:</label>
                            <textarea class="form-control input-lg" id="Obs" rows="3"></textarea>
                    </center>
                <br>
                <div class = text-center>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
                    </form>
                    <br><br>
                    <div class="container">
                        <table class="table table-hover">
							  <thead>
								<tr>
                                  <th>Partida</th>
                                  <th>Resguardante</th>
								  <th>Resguardante</th>
								  <th>Edificio</th>
								  <th>Piso</th>
								  <th>Ádscripción</th>
								  <th>Subadscripción</th>
								  <th>Responsable</th>
								  <th>Observación</th>
								</tr>
							  </thead>
							  <tbody>
								<tr>
                                  <td>1</td>
								  <td>Ing. Dino Adán Venegas Zárate</td>
								  <td>TCO</td>
								  <td>PB</td>
								  <td>Dirección de Informática</td>
								  <td>Dirección de Soporte Técnico</td>
								  <td>Adolfo Pinto Santiago</td>
								  <td>Impresora HP 1024</td>
								</tr>
								<tr>
                                    <td>2</td>
									<td>Alejandro Camargo</td>
									<td>M68</td>
									<td>PB</td>
									<td>Dirección de Informática</td>
									<td>Dirección de Presupuestos</td>
									<td>Ángel Garibay</td>
									<td>Impresora HP 1024</td>
								</tr>
								</tbody>
							</table>
						  </div>
		