            <center
            ><h1>"SISTEMA DE ADMINISTRACIÓN DE BIENES INFORMÁTICOS DEL SENADO 
                    DE LA REPÚBLICA"</h1>
            </center>
            
                    <nav class="navbar navbar-inverse">
                            <div class="container-fluid">
                              <div class="navbar-header">
                                <a class="navbar-brand" href="index.php">SENADO</a>
                              </div>
                              <ul class="nav navbar-nav">
                                    <li class="active">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="resg.html">Resguardos
                                            <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                            <li><a href="sabi.html">SABI</a></li>
                                            <li><a href="ns.html">Nueva Sede</a></li>
                                            <li><a href="ressim.html">Recibo Simple</a></li>
                                            <li><a href="sisad.html">Sistemas Administrados</a></li>
                                            <li><a href="bienmat.html">Bienes Materiales</a></li>
                                </ul>
                                 </li>
     
                                  <li class="active">
                                  <a class="dropdown-toggle" data-toggle="dropdown" href="resg.html">Resguardantes
                                  <span class="caret"></span></a>
                                  <ul class="dropdown-menu">
                                    <li><a href="area_sen.html">Áreas</a></li>
                                    <li><a href="ed.html">Edificios</a></li>
                                    <li><a href="of.html">Oficinas</a></li>
                               </ul>
                                </li>
                                <li class="active"><a href="estadisticas.html">Estadísticas</a></li>
                                <li class="active"><a href="notificaciones.html">Notificaciones</a></li>
                              </ul>
                            </div>
                      </nav>
          </br>
         