
			<nav class="navbar ">
					<div class="container-fluid">
							<div class="navbar-header">
								<ul class="nav navbar-nav navbar-center">
                                    <li class="active"><a href="sabi.html">Consultar</a></li>
									<li class="active"><a href="editarsa.html">Editar</a></li>
									<li class="active"><a href="nuevosa.html">Nuevo</a></li>
									<li class="active"><a href="deshsa.html">Deshabilitar</a></li></ul>
								</ul>
					</div>
			</nav>
			<div class="container">

				<div class="signup-form-container">
						<div class="form-header">
								<center> <h1 class="form-title"><i class="fa fa-user"></i> NUEVO RESGUARDO</h1></center>
						</div>
					 <!-- form para ingresar el resguardo -->
					
						<form class="form-inline">
                            <div class = text-right>
							    <label for="iIDBienesInformaticos">Resguardo:</label>
								    <div class="input-group mb-2 mr-sm-2">
									<input type="text" class="form-control" id="iIDBienesInformaticos" placeholder="Resguardo">
							</div>
                                      <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                </div>
                <br> <br>
                <div class="form-row">
                        <div class="form-group col-md-4">
                                <label for="ctBienesInformáticos">Tipo de equipo: </label>
                                <select id="cBienes" class="form-control">
                                  <option selected>Equipo completo</option>
                                  <option>Impresora</option>
                                  <option>Escanner</option>
                                </select>
                        </div>
                        <div class="form-group col-md-4">
                                <label for="ctBienesInformáticos">Modelo del equipo: </label>
                                <input type="modelo" class="form-control" id="mod" placeholder="Modelo">        
                        </div>
                        <div class="form-group col-md-3">
                                <label for="ctBienesInformáticos">N.Serie: </label>
                                <input type="serie" class="form-control" id="bumser" placeholder="NumeroSerie">        
                        </div>
                </div>
                <br><br><br><br>
                <div class="form-inline">
                        <div class="form-group col-md-4">
                                <label for="ctBienesInformáticos">MAC del equipo: </label>
                                <input type="mac" class="form-control mb-2 mr-sm-2" id="mac" placeholder="Modelo">        
                        </div>
                        <div class="form-group col-md-4">
                                <label for="ctBienesInformáticos">Ingreso del equipo: </label>
                                <input type="date" class="form-control" id="fecha" name="fecha" />
                        </div>
                        <div class="form-group col-md-4">
                                <label for="ctBienesInformáticos">Marca: </label>
                                <input type="text" class="form-control" id="marca" placeholder="Marca" />
                        </div>
                </div>
                <br><br><br>
                <div class="form-row">
                        <div class="form-group col-md-4">
                                <label for="ctBienesInformáticos">Hostname: </label>
                                <input type="mac" class="form-control" id="mac" placeholder="Modelo">        
                        </div>
                        <div class="form-group col-md-4">
                                <label for="ctBienesInformáticos">Clave de Activación: </label>
                                <input type="dtext" class="form-control" id="fecha" name="fecha" />
                        </div>
                </div>
                        <br><br><br>
                <div class= center>
                                <div class="form-group col-md-4">
                                        <label for="ctBienesInformáticos">Fecha garantía: </label>
                                        <input type="date" class="form-control" id="garantia" />
                                </div>
                                <div class="form-group col-md-4">
                                        <label for="ctBienesInformáticos">Término de garantia: </label>
                                        <input type="date" class="form-control" id="fingarantia" />
                                </div>
                </div>
                <br><br><br>
                <div class = text-center>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
                    </form>
                    <br><br>
                    <div class="container">
                        <table class="table table-hover">
							  <thead>
								<tr>
                                  <th>Partida</th>
                                  <th>Tipo de equipo</th>
								  <th>Modelo</th>
								  <th>Num Serie</th>
								  <th>MAC del equipo</th>
								  <th>Fec. ingreso del equipo</th>
								  <th>Marca</th>
								  <th>Hostname</th>
                                  <th>Clave Activación</th>
                                  <th>Fec. inicio garantia</th>
                                  <th>Fec. termino garantia</th>
								</tr>
							  </thead>
							  <tbody>
								<tr>
                                  <td>1</td>
								  <td>Impresora HP</td>
								  <td>Laser Jet 1024</td>
								  <td>8u9dpsf0mlkn</td>
								  <td>00:1e:c2:9e:28:6b</td>
                                  <td>26/01/1995</td>
                                  <td>HP</td>
                                  <td>DESKTOP-5MPQUMM</td>
                                  <th>93kjdssdjlw83b</th>
                                  <td>25/01/2017</td>
                                  <td>25/01/2020</td>
								</tr>
								<tr>
                                        <td>1</td>
                                        <td>Impresora HP</td>
                                        <td>Laser Jet 1024</td>
                                        <td>8u9dpsf0mlkn</td>
                                        <td>00:1e:c2:9e:28:6b</td>
                                        <td>26/01/1995</td>
                                        <td>HP</td>
                                        <td>DESKTOP-5MPQUMM</td>
                                        <th>93kjdssdjlw83b</th>
                                        <td>25/01/2017</td>
                                        <td>25/01/2020</td>
								</tr>
								</tbody>
							</table>
						  </div>
	