<div class="d-flex justify-content-center align-items-center"
	style="min-height: 75%; min-height: 75vh;" th:fragment="content">
	
	<!-- Inicio Primer Bloque -->
	
	<div class="card-deck">

		<div class="card text-center">
			<div class="card-body">
				<a class="card-title" th:href="@{/config/catalogos/edificio/consulta}"><i class="fas fa-building fa-10x custom-fa"></i></a>
			</div>
			<div class="card-footer">
				<small class="text-muted custom-muted">Cat&aacute;logo de edificios</small>
			</div>
		</div>
		
		<div class="card text-center">
			<div class="card-body">
				<a class="card-title" th:href="@{#}"><i class="fas fa-server fa-10x custom-fa"></i></a>
			</div>
			<div class="card-footer">
				<small class="text-muted custom-muted">Cat&aacute;logo de servicios</small>
			</div>
		</div>
		
		<div class="card text-center">
			<div class="card-body">
				<a class="card-title" th:href="@{/config/catalogos/estatus-ticket/consulta}"><i class="fas fa-building fa-10x custom-fa"></i></a>
			</div>
			<div class="card-footer">
				<small class="text-muted custom-muted">Cat&aacute;logo de estatus de ticket</small>
			</div>
		</div>
	</div>
	
	<!-- Fin Primer Bloque -->
	
	<!-- Inicio Segundo Bloque -->
	
	<!-- Fin Segundo Bloque -->

</div>